:root {
    --background_Gradient: linear-gradient(90deg, rgba(46, 45, 41, 1) 0%, rgba(128, 128, 128, 1) 50%, rgba(46, 45, 41, 1) 100%);
    --cover_Gradient: linear-gradient(90deg, rgba(104, 91, 64, 1) 0%, rgba(136, 118, 80, 1) 50%, rgba(104, 91, 64, 1) 100%);
    --page_Gradient: linear-gradient(90deg, rgba(187, 178, 133, 1) 0%, rgba(253, 244, 200, 1) 50%, rgba(187, 178, 133, 1) 100%);
}

@font-face {
    font-family: elenora;
    src: url(./media/Eleanora.ttf);
}

body {
    font-family: elenora, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #54514C;
    background: var(--background_Gradient);
    overflow: hidden;
    display: grid;
    place-content: center;
}

/*Buch Style - !NICHT VERÄNDERN!*/
.flipbook {
    width: 70vw;
    height: 90vh;
}

.flipbook .hard {
    background: #40351D !important;
    color: #fff;
    font-weight: bold;
    border: none;
}

.flipbook .page {
    background: #BBB285;
    background: var(--page_Gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

/*Ende Buch Style*/

#cover {
    background: #685B40;
    background: var(--cover_Gradient);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
}

#header {
    font-size: 3em;
    color: black;
    background-color: #FDF4C8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

#cover>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*-------------Startseite Start--------------*/
#startPage{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}
#loginBtn{
    position: absolute;
    width: 10%;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: #D9D9D9;
    border: solid 2px black;
    text-align: center;
    padding:1%;
    border-radius: 10px;
    scale: 1.3;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999; /* Hoher z-index, um sicherzustellen, dass der Button oben ist */
}
#loginBtn:hover{
    background: #BE2B2B;
    color: white;
    border: solid 2px black;
    scale: 1.4;
}

#newSpellBtn{
    position: absolute;
    width: 10%;
    top: 12%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: #D9D9D9;
    border: solid 2px black;
    text-align: center;
    padding:1%;
    border-radius: 10px;
    scale: 1.3;
    transition: 0.3s;
    z-index: 9999; /* Hoher z-index, um sicherzustellen, dass der Button oben ist */
}
#newSpellBtn:hover {
    background: #BE2B2B;
    color: white;
    border: solid 2px black;
    scale: 1.4;
}
#newSpellBtn.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none; /* kein Hover, kein Klick */
}

/*Suchleiste Style - Grundidee von: https://codepen.io/liamj/pen/vYYLGZj*/

#searchBar{
    position: relative;
    top: 10%;
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 2%;
}
#searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchHeader{
    font-size: 2em;
    color: black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#searchform {
    position: relative;
    width: 25rem;
    background: #BE2B2B;
    border-radius: .7rem;
}

#search,
#searchBtn {
    height: 2rem;
    font-family: elenora;
    border: 0;
    color: #2f2f2f;
    font-size: 1.8rem;
}

input[type="search"] {
    outline: 0;
    width: 100%;
    background: #D9D9D9;
    border: solid 2px black;
    padding: 0 1.6rem;
    border-radius: .7rem;
    appearance: none;
    transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

#searchBtn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    font-weight: bold;
    background: #BE2B2B;
    border-radius: 0 .7rem .7rem 0;
    cursor: pointer;
}

#search:not(:placeholder-shown) {
    border-radius: .7rem 0 0 .7rem;
    width: calc(100% - 6rem);

    +button {
        display: block;
    }
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/*Ende Suchleiste Style*/

/*Start Zauberschulen Style*/
#schulenHeader{
    font-size: 2em;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#zauberSchulen{
    position: relative;
    top: -10%;
    display: grid;
    grid-template-columns: auto;
}
.zauberSchule{
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: 0.3s;
}
.zauberSchule:hover{
    scale: 1.1;
}
.zauberSchule>img{
    width: 5%;
}
/*Ende Zauberschulen Style*/

/*Start Klassen Style*/
#klassen{
    position: relative;
    top: -25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}
#klassenContainer{
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background: var(--cover_Gradient);
    padding: 1%;
    border-radius: 20px
}
.klasse{
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.klasse:hover{
    scale: 1.1;
    >img{
        border: 2px solid #BE2B2B;
    }
}
.klasse>img{
    width: 2em;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
}

#vorWort{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1%;
}
#vorWortGrid{
    display: grid;
    grid-template-columns: auto;
}
.vorWortText{
    font-size: 1.3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 2%;
}
#vorWortHeader{
    font-size: 3em;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*-------------Startseite Ende--------------*/

/*-------------Loginpage Start--------------*/
#loginOverlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 

}
#loginForm{
    background: rgba(255, 255, 255, 0.8);
    display: grid;
    grid-template-columns: auto;
    gap: 2%;
    width: 50%;
    height: 60%;
    text-align: center;
    border-radius: 10px;
    border: solid 5px black;
    padding: 1%;
}
#loginForm>input{
    width: 50%;
    padding: 1%;
    border: solid 2px black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: elenora;
    font-size: 1.5em;
}
#loginForm>button{
    width: 30%;
    border: solid 2px black;
    border-radius: 10px;
    background: #BE2B2B;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    font-family: elenora;
    font-size: 1.5em;
}
#loginForm>button:hover{
    background: #D9D9D9;
    color: black;
}
#loginForm>h2{
    font-size: 2em;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#registerOverlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}
#registerForm{
    background: rgba(255, 255, 255, 0.8);
    display: grid;
    grid-template-columns: auto;
    gap: 2%;
    width: 50%;
    height: 60%;
    text-align: center;
    border-radius: 10px;
    border: solid 5px black;
    padding: 1%;
}
#registerForm>input{
    width: 50%;
    border: solid 2px black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: elenora;
    font-size: 1.5em;
}
#registerForm>button{
    width: 30%;
    border: solid 2px black;
    border-radius: 10px;
    background: #BE2B2B;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    font-family: elenora;
    font-size: 1.5em;
}
#registerForm>button:hover{
    background: #D9D9D9;
    color: black;
}
#registerForm>h2{
    font-size: 2em;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*-------------Loginpage Ende--------------*/

/*-------------Zauberliste-----------------*/
.spellCardContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 10px;
}
.spellCard{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    width: 90%;
    border: solid 4px rgba(119, 83, 32, 0.973);
    border-radius: 10px;
    padding: 1%;
    min-height: 15vh;
    transition: 0.3s;
    cursor: pointer;
}
.spellCard:hover{
    scale: 1.02;
    border: solid 4px #BE2B2B;
}
.spellCardImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spellCardImage{
    width: 100%;
}
.emptyCard{
    min-height: 15vh;
}
.spellCardLables{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5%;
}
.spellLable{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDF4C8;
    width: 70%;
    background-color: #685B40;
    border-radius: 30px;
    text-align: center;
    max-height: 40%;
    margin-top: auto;
    margin-bottom: auto;
}
#homeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2%;
    width: 5%;
    top: 7.5%;
    max-height: 5%;
    background: #D9D9D9;
    border: solid 2px black;
    text-align: center;
    padding:1%;
    border-radius: 10px;
    scale: 1.3;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
}
#homeBtn:hover{
    background: #BE2B2B;
    color: white;
    border: solid 2px black;
    scale: 1.4;
}
/*--------------Klassen Style---------------*/
#classBigImg{
    position: absolute;
    transform: translate(-50% -50%);
    opacity: 50%;
    left: -17%;
    top:20%;
    z-index: 0;
    user-select: none;
    scale: 1.2;
}
#classDescription{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}
#classHeader{
    position: absolute;
    top: -1%;
    left: -1%;
    width: 100%;
    background: #7a756e;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding: 2%;
    border: white 3px solid;
    max-height: 12%;
}
#classHeader>img{
    width: 70%;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 5%;
}
#classHeader>h1{
    color:#fff;
    font-size: 250%;
}
#classDescriptionText{
    width: 70%;
    font-size: large;
    background: #685B40;
    background: var(--cover_Gradient);
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
    border-radius: 20px;
    padding: 1%;
    border: solid 2px black; 
    margin-top: 50%;
}